@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 1rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.text-gradient {
  background-image: linear-gradient(
    90deg,
    rgba(82, 221, 253, 1) 0%,
    rgba(62, 160, 182, 1) 50%,
    rgba(40, 108, 122, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient {
  background: linear-gradient(90deg, rgba(82, 221, 253, 1) 0%, rgba(62, 160, 182, 1) 50%, rgba(40, 108, 122, 1) 100%);
}

.react-logo-container {
  width: 100px;
  height: 100px;
}

.react-logo {
  border-radius: 50%;
  border: 10px solid #00d8ff;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.react-logo,
.react-logo:before,
.react-logo:after {
  width: 100px;
  height: 35px;
  border-radius: 50%;
  border: 5px solid #00d8ff;
}

.nucleo {
  width: 20px;
  height: 20px;
  background: #00d8ff;
}

.nucleo-nav {
  width: 7px;
  height: 7px;
  background: #00d8ff;
}

.react-logo-container-nav {
  width: 40px;
  height: 40px;
}
.react-logo-nav {
  border-radius: 50%;
  border: 2px solid #00d8ff;
  animation-name: rotate;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.react-logo-nav,
.react-logo-nav:before,
.react-logo-nav:after {
  width: 40px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #00d8ff;
}

.react-logo-nav:after,
.react-logo:after {
  transform: rotate(-57deg);
}

.react-logo-nav:before,
.react-logo:before {
  transform: rotate(57deg);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
